nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 25px;
}

#main {
  text-align: center;
  margin-top: 25px;
}

#main .container{
  display: inline-block;
}

.col-image, .col-link {
  margin: 10px 0;

}

.col-image {
  width: 33%;
}

.col-link {
  text-align: left;
  height: 150px;
  width: 67%;
  max-width: 650px;
}

hr {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 2px;
  width: inherit;
}

.post {
  transition: background-color .75s;
  height: 100px;
  margin-bottom: 10px;
}

img {
  display: inline-block;
}

a {
  padding-left: 5px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 10px;
  width: 100%;
}

a .post {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.post:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
